<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css"/>
</head>
<body>
	
	<div id = "header">
		<h3>[메일] [카페] [블로그] [뉴스] [쇼핑]</h3>
	</div>
	<div id = "contents">
	
		<div id = "left">
			<h1>[뉴스]</h1>
			<ul>
				<li>백엔드 7기 프로젝트 임박</li>
				<li>백엔드 7기 프로젝트 임박</li>
				<li>백엔드 7기 프로젝트 임박</li>
				<li>백엔드 7기 프로젝트 임박</li>
			</ul>
		</div>
		
		<div id = "right">
			<h1>[쇼핑]</h1>
			<h5>삼성 TV 폭탄 세일</h5>
			<h5>삼성 TV 폭탄 세일</h5>
			<h5>삼성 TV 폭탄 세일</h5>
			<h5>삼성 TV 폭탄 세일</h5>
		</div>
	
	</div>
	
	<div id = "footer">
		<h1>Footer</h1>
	</div>
</body>
</html>